* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background: #777;

  background: url(./images/456546546.jpg) center/cover no-repeat;
  color: #fff;
  text-shadow: 4px 3px 4px rgb(184, 74, 10);
  font-size: 120%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  background-color: rgb(184, 74, 10);
  color: #000;
  text-align: center;
  text-shadow: 1px 1px #eee;
  padding: 1px 0px 1px 0px;
  font-size: 2em;
  border: 4px dashed #000;
}
.footer {
  background-color: rgb(187, 80, 18);
  color: white;
  padding: 15px;
  text-align: center;
  text-shadow: none;
}
ul.nav_bar {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background: #222;
}
.nav_bar li {
  float: left;
}
.nav_bar li a {
  display: inline-block;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: none;
  text-shadow: 2px 2px black;
  text-align: center;
  color: #eee;
  font-size: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav_bar li a:hover {
  background: rgb(207, 86, 15);
}
.nav_bar li a.active {
  background: rgb(207, 86, 15);
  text-shadow: 2px 2px rgb(129, 12, 12);
}

.column {
  padding: 15px;
  float: left;
}
.clearFix::after {
  content: "";
  clear: both;
  display: table;
}
.sidemenu {
  width: 25%;
}
.content {
  width: 75%;
}
.sidemenu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.sidemenu li a {
  display: block;
  padding: 14px;
  margin-bottom: 30px;
  font-size: 1.8em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(207, 86, 15);
  background: #222;
  text-shadow: 1px 1px 2px rgb(163, 49, 4);
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  border: 1px dashed #5f605b;
}
.sidemenu li a:hover {
  background-color: rgb(184, 74, 10);
  color: #000;
  text-shadow: 1px 1px 1px #ccc;
  border: 1px dashed #000;
}
.sidemenu li a.sidemenuActive {
  background-color: rgb(184, 74, 10);
  color: #000;
  text-shadow: 1px 1px 1px #ccc;
  border: 1px dashed #000;
}
